/* CSS stillerinizi buraya girin */

/* @import url(./reset.css); */
/* * {
  border: 1px tomato solid;
  box-sizing: border-box;
} */

.div{
  display: inline;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2rem;
    
  }
  
  .header {
    color: white;
    background: rgb(2,0,36);
background: linear-gradient(28deg, rgba(2,0,36,1) 1%, rgba(9,58,121,1) 19%, rgba(218,228,217,0.815091002221201) 95%);
    padding: 2rem 0;
  }
  
  .header nav {
    margin-top: 20px;
  }
  
  .menu {
    padding: 0.5rem 0.75rem;
    background-color: white;
    margin-right: 10px;
  }
  

  .about {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .about__img {
    /* min-width: 450px; */
    /* flex-grow: 1; */
    flex-basis: 450px;
    min-width: 400px;
    height: 400px;
    object-fit: contain;
  }
  
  .about__img img,
  .project__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about__text {
    flex-basis: 400px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project {
    width: 210px;
  }
  
  .footer {
    background: rgb(2,0,36);
    background: linear-gradient(332deg, rgba(2,0,36,1) 1%, rgba(9,58,121,1) 19%, rgba(218,228,217,0.815091002221201) 95%);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 .footer__button{
  align-items:left; 
 }
 
 